@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
.bgcolor{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(241, 241, 241);
    height: 100vh;
}

.cardstyle{
    box-shadow: 3px 5px 5px rgba(0,0,0,0.2);
}

.header{
    background:linear-gradient(170deg,rgb(204, 164, 241) 0%,rgb(116, 62, 167) 50%,transparent 50%) ;
    padding: 12px 0;
}

.underline{
    width: 50px;
    border: 1px solid rgb(129, 129, 129);
    margin: auto;
}

.search{
    background: transparent;
    border: 1px solid blueviolet;
    padding: 5px;

    transition: all 0.3s;
}

.search:focus{
    outline: none;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.3);
}

.fas{
    color: blueviolet;
}

.seemore{
    border: 1px solid blueviolet;
    padding: 4px 12px;

    transition: all 0.4s;
}

.seemore:hover{
    background: blueviolet;
    color: #eee;
}